<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
ABOUT
{% endblock title %}

{% block main %}
<div class="container">
    <h3 class="mt-3 mb-4">
        About page:
        <small class="text-muted">what is this website for?</small>
    </h3>
    <h5 class="display-4 mb-5">
        In this website we want you to share what you are thinking!
    </h5>
    <blockquote class="blockquote">
        <p>
            Never underestimate the ability of people to live in a community.
        </p>
        <p>
            This gives us the possibility to think together, generating ideas that are out of the box.
        </p>
        <p>
            So, give it a try, generate a space of exchange, you never know who will be able to contact you
        </p>
    </blockquote>
</div>
{% endblock main %}