<!DOCTYPE html>
{% extends 'base.html' %}

{% block title %}
    HOME
{% endblock title %}

{% block main %}
<div class="card">
    <div class="card-header text-center">
      Quote
    </div>
    <div class="card-body">
      <blockquote class="blockquote mb-0 text-center">
        <p> “Many of lifes failures are people who did not realize how close they were to success when they gave up.”</p>
        <footer class="blockquote-footer"> Thomas A. Edison </footer>
      </blockquote>
    </div>
  </div>
{% endblock main %}